{% extends "base.html.twig" %}
{% block contenu %}
    <h1 style ="padding-bottom: 10px"> A propos </h1>
    <h2> Ce site vous est proposé par Maxence MAZIERE  et Fabien BAYON, dans le cadre de notre première année à l'EPSI</h2>
    <h1 style ="padding-bottom: 10px"> Comment fonctionne-t-il ?</h1>
    <h3> Vous pouvez vous inscrire via la section profil puis vous devrez valider votre email, enfin une fois cela fait, vous pourrez vous connecter. </h3>
    <h4>Une fois connecté, vous pouvez modifier votre profil afin de montrer les langages informatiques que vous connaissez</h4>
    <h6>Cette page sera alimentée au fur et a mesure que ce projet avance</h6>
{% endblock %}