{% extends "base.html.twig" %}
{% block contenu %}
    <h1> Maxence </h1>
    <button type="submit" class="btn btn-primary" name="BtDownloadM" id="BtDownlandM">Download</button>
    <button type="submit" class="btn btn-primary" name="BtUploadM" id="BtUploadM">Upload</button>
    <h1> Fabien </h1>
    <button type="submit" class="btn btn-primary" name="BtDownloadF" id="BtDownlandF">Download</button>
    <button type="submit" class="btn btn-primary" name="BtUploadF" id="BtUploadF">Upload</button>


{% endblock %}