
{% extends "base.html.twig" %}
{% block script %} <script src="js/getDeveloppeur.js"> </script>{% endblock %}
{% block contenu %}

<br></br>
<p class="font-weight-bolder">Liste des developpeurs en fonction de leur departement</p>
<label for="departements">Veuillez choisir un departement</label>
    <select class="form-control" name="departements" id="departements" style="margin-bottom: 20px">
        <option value='0'>-- Selectionnez un departement --</option>
    </select>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
<section class="container mt-4 mb-4">
<div class="container" id="unDev">
	
		

</div>
</section>

{% endblock %}