{% extends "base.html.twig" %}
{% block contenu %}


    <form  action="index.php?page=inscription" method="post" enctype="application/x-www-form-urlencoded" >
        <div class="form-group">
            <label for="Nom">Nom</label>
            <input type="text" class="form-control" id="Nom"  name="Nom" value="{{ unDeveloppeur.nom }}">
        </div>
        <div class="form-group">
            <label for="Prenom">Prenom</label>
            <input type="text" class="form-control" id="Prenom" name="Prenom" value="">
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" name="Email"  aria-describedby="emailHelp" value="" >
        </div>


        <button type="submit" class="btn btn-primary" name="btModfier" id="btModifier" href="index">Modifier</button>
    </form>

{% endblock %}